@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Inter:wght@300;400;500;600;700;800&family=Lobster&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b3));
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  text-transform: capitalize;
  font-size: 16px;
}
